{
  "root": true,
  "env": {
    "node": true,
    "browser": true,
    "jquery": true
  },
  "globals": {
    "ol": true,
    "dust": true,
    "toastr":true,
    "_":true
  },
  "plugins": ["html"],
  "extends": "airbnb/legacy"
}
