/*body {


  overflow: hidden;

  width: 100%;
  height: 100vh;
}*/
.appwrapper {
  position: relative;
  height: 100%;
}
.spiner-wrapper {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

}
.mdl-spinner-big {
  width: 80px!important;
  height: 80px!important;
}
.adminMap {
  position: relative;
  z-index: 1;

  width: inherit;
  height: inherit;
}

.ol-custom-overviewmap,
.ol-custom-overviewmap.ol-uncollapsible {
  top: 7em;
  right: .5em;
  bottom: auto;
  left: auto;
}

.ol-custom-overviewmap:not(.ol-collapsed) {
  border: .071em solid #2b3643;
}

.ol-custom-overviewmap .ol-overviewmap-map {
  width: 21.429em;

  border: none;
}

.ol-custom-overviewmap .ol-overviewmap-box {
  border: 2px solid red;
}

.ol-custom-overviewmap:not(.ol-collapsed) button {
  top: .071em;
  right: .071em;
  bottom: auto;
  left: auto;
}

.ol-zoom {
  top: .5em;
  right: .5em;
  bottom: auto;
  left: auto;
}

.ol-zoom-extent {
  top: 4.643em;
  right: .5em;
  bottom: auto;
  left: auto;
}

.infobox {
  position: absolute;
  z-index: 2;
  top: .5em;
  left: .5em;

  width: auto;
  height: auto;
  padding: .357em;

  border-radius: .429em;
  background: white;
}

.actions {
  display:         flex;
  justify-content: space-around;
}

.property-info {
  text-align: center;
}
.estate-atributes-list {
  overflow-y: scroll;
  height: 20em;
}
.estate-atributes-list .mdl-list__item {
  min-height: 28px;
  padding: 0;
}
.estate-atributes-list .mdl-list__item .mdl-list__item-primary-content .material-icons {
  font-size: 14px;
  margin-right: 5px;
}
.estate-atributes-list span {
  font-size: 14px;
}


.toast-message {
  display:         flex;
  flex-direction: column;
  align-items: center;
}

.toast-message > p {
  font-size: 16px;
  margin: 0;
}

.toastr-btns {
  display:         flex;
  justify-content: space-around;
}

.toastr-btns > button {
  color: white;
}

.userinfo {
  margin: .5em auto;
}

.userinfo p {
  font-size: 1.5em;

  text-align: center;
}

.modal-dialog {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 50%;
}

.modal-content {
  position: relative;
}

.modal-content .mdl-textfield {
  width: 100%;
}
.modal-content .mdl-selectfield {
  width: 100%;
}
.error-msg {
  font-size: 12px;
  position: absolute;
  display: block;
  margin-top: 3px;
  color: #de3226;
}

.error-msg ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}
.mdl-list__item {
  height: 24px;
}
.dialog {
  text-align: center;
}
.insert-update-listing {
  max-width: 20em;
}
.options {
  text-align: center;
}
label.mdl-checkbox {
  width: 50%;
  margin: 0 auto;
}
.checkboxes {
  display: flex;
  flex-direction: column;
}
.checkboxes span {
  white-space: pre;
}
.buttons {
  width: 50%;

  text-align: center;
}
