body {
    font-family: Ubuntu, "times new roman", times, roman, serif;
}
.appwrapper {
overflow: hidden;
    
}

.adminMap {
    height: 100vh;
    width: 100vw;
    position: absolute;
}
.ol-custom-overviewmap,
.ol-custom-overviewmap.ol-uncollapsible {
    bottom: auto;
    left: auto;
    right: 0.5em;
    top: 7em;
}

.ol-custom-overviewmap:not(.ol-collapsed) {
    border: 0.071em solid #2B3643;
}

.ol-custom-overviewmap .ol-overviewmap-map {
    border: none;
    width: 21.429em;
}

.ol-custom-overviewmap .ol-overviewmap-box {
    border: 2px solid red;
}

.ol-custom-overviewmap:not(.ol-collapsed) button {
    bottom: auto;
    left: auto;
    right: 0.071em;
    top: 0.071em;
}
.ol-zoom {
    bottom: auto;
    left: auto;
    right: 0.5em;
    top: 0.5em;
    
}
.ol-zoom-extent {
    bottom: auto;
    left: auto;
    right: 0.5em;
    top: 4.643em;
}
.infobox {
  top: 0.5em;
  left: 0.5em;
  height: auto;
  width: 28.5714em;
  padding: 0.357em;
  position: absolute;
  background: white;
  z-index: 15;
  border-radius: 0.429em;
}
.actions{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content : space-around;
      -ms-flex-pack : distribute;
          justify-content : space-around;
}
.property-info{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.357em;
  margin-top: 0.5em;
  /*border: 0.07142em solid #536DFE;*/
  border-radius: 0.5em;
}
.property-info > li {
  margin-top:0.07142em;
}
.toast-message{
     display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction :column;
      -ms-flex-direction :column;
          flex-direction :column;
          -webkit-align-items:center;
              -ms-flex-align:center;
                  align-items:center;
}
.toast-message > p {
  margin :0;
  font-size: 16px;
}
.toastr-btns{
    display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content : space-around;
      -ms-flex-pack : distribute;
          justify-content : space-around;
}
.toastr-btns >button{
  color :white;
}