body {
  font-family: 'Ubuntu', sans-serif!important;
  overflow: hidden;
}


/* apply a natural box layout model to all elements, but allowing components to change */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.spaced {
  justify-content: space-around;
}
.text-centered {
  text-align: center;
  vertical-align: middle;
}
.text-bold {
  font-weight: bold;
}
.text-big {
  font-size: 24px;
}
.div-centered-50 {
  width: 50%;
  margin: 0 auto;
}
