.estate-cards {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;

  width: 100%;
  height: 0;

  transition: height .3s ease;
}

.estate-cards.estate-cards-active {
  top: 0;
  height: 100%;

  transition: all .3s ease;
}

.estate-card-square {
  width: 100%;
  height: inherit;
  min-height: 0;
}

.estate-card-square > .mdl-card__title {
  color: #fff;
}
.mdl-card__title h2 {
  padding:.4em;
  width: 100%;
  background-color: #448aff;
}
.estate-image {
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  background-size: contain;
}
.estate-card-square a:hover {
  text-decoration: none;
}
.big-image {
  display: flex;

  flex-grow: 1;
}
.big-image-cell {
  display: flex;
}
.estate-card-square a {
  text-align: center;

  color: inherit;
}
