
.estate-cards {
    position: absolute;
  top: 100%;
  left: 0;
  height: 0;
  width: 100%;
  
  transition: height 0.3s ease;
  z-index: 17;
}
.estate-cards.estate-cards-active{
  top: 0;
  height: 27em;
  transition: all 0.3s ease;
}
.estate-card-square{
  height:auto;
  min-height: 0;
}
.estate-card-square > .mdl-card__title {
  color: #fff;
  background: red;
}

.estate-card-square a:hover {
  text-decoration: none;
}

.estate-card-square a {
  color: inherit;
  text-align: center;
}


