.estate-cards {
  position: absolute;
  z-index: 17;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  transition: height 0.3s ease;

}

.estate-cards.estate-cards-active {
  top: 0;
  height: 27em;
  transition: all .3s ease;
}

.estate-card-square {
  width: 100%;
  height: inherit;
  min-height: 0;
}

.estate-card-square > .mdl-card__title {
  color: #fff;
  background: red;
}

.estate-card-square a:hover {
  text-decoration: none;
}

.estate-card-square a {
  text-align: center;
  color: inherit;
}
