.infobox {
  top: 6.000em;
  left: 0.5em;
  height: auto;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  padding: 0.357em;
  position: absolute;
  background: white;
  z-index: 15;
  border-radius: 0.429em;
  transition: all .3s ease;
}

.input-align-center{
 display:block;
 margin: 0 auto;
}
