.infobox {
  top: 6.000em;
  left: 0.5em;
  height: auto;
  width: 22.857em;
  padding: 0.357em;
  position: absolute;
  background: white;
  z-index: 15;
  border-radius: 0.429em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
}

.infobox-item {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin:auto;
  width: 300px;
}
