.infobox {
  position: absolute;
  z-index: 15;
  top: 6.000em;
  left: .5em;
  width: 27em;
  min-width: 27em;
  height: 27em;
  max-height: 27em;
  border-radius: .429em;
  background: white;
}

.input-align-center {
  display: block;
  margin: 0 auto;
}

.infobox-content {
  position: relative;
  height: auto;
}

.filters {
  position: absolute;
padding-left: 0.5em;
padding-right: 0.5em;
  z-index: 16;
  height: 27em;
}
