.appwrapper {
  position: relative;
}
.spiner-wrapper {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.mdl-spinner-big {
  width: 80px;
  height: 80px;
}
.wrapme{
  display: flex;
}
.actions {
   border-bottom: 1px solid #448aff;
}
.map {
  position: relative;
  z-index: 1;

  width: 100vw;
  height: 100vh;
}

.controls {
  position: absolute;
  z-index: 10;
  top: 7.000em;
  left: .429em;

  width: 28.571em;
  height: auto;
  padding: .429em;

  background: #bfbdff;
  box-shadow: .429em .429em .357em 0 rgba(50, 50, 50, .75);
}

.ol-custom-overviewmap,
.ol-custom-overviewmap.ol-uncollapsible {
  top: 7em;
  right: .5em;
  bottom: auto;
  left: auto;
}

.ol-custom-overviewmap:not(.ol-collapsed) {
  border: .071em solid #2b3643;
}

.ol-custom-overviewmap .ol-overviewmap-map {
  width: 21.429em;

  border: none;
}

.ol-custom-overviewmap .ol-overviewmap-box {
  border: 2px solid red;
}

.ol-custom-overviewmap:not(.ol-collapsed) button {
  top: .071em;
  right: .071em;
  bottom: auto;
  left: auto;
}
.ol-zoom {
  top: .5em;
  right: .5em;
  bottom: auto;
  left: auto;
}
.ol-zoom-extent {
  top: 4.643em;
  right: .5em;
  bottom: auto;
  left: auto;
}
