.menu
{
    z-index: 100;

    text-align: center;
}

.menu-item,
.menu-open-button
{
    line-height: 60px;

    position: absolute;
    top: 1.000em;

    width: 60px;
    height: 60px;
    margin-left: -30px;

    transition: -webkit-transform ease-out 200ms;
    transition:         transform ease-out 200ms;

    color: #fff;
    border-radius: 100%;
}

.menu-open,
.with-font
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

input[type=radio].with-font ~ label:before,
input[type=checkbox].with-font ~ label:before
{
    font-family: FontAwesome;
    font-size: inherit;

    display: inline-block;

    color: #fff;
}

input[type=radio].with-font ~ label:hover,
input[type=checkbox].with-font ~ label:hover
{
    cursor: pointer;
}

input[type=radio].with-font ~ label:hover:before,
input[type=checkbox].with-font ~ label:hover:before
{
    transition: all .8s ease-in-out;
    -webkit-transform: rotate(360deg) scale(2);
            transform: rotate(360deg) scale(2);

    color: #7b1fa2;
    background: transparent;
}

input[type=radio].with-font:checked + label,
input[type=checkbox].with-font:checked + label
{
    color: #fff;
    background: #448aff;
}


/*input[type=radio].with-font:checked ~ label:hover:before,
input[type=checkbox].with-font:checked ~ label:hover:before {
    background: #FFFFFF;
    color: #7B1FA2;
}*/

input[type=radio].with-font:checked ~ label:hover,
input[type=checkbox].with-font:checked ~ label:hover
{
    color: #7b1fa2;
    background: #fff;
}

.geolocation ~ label:before
{
    z-index: 102;

    content: '\f124';
}

.marker ~ label:before
{
    z-index: 103;

    content: '\f041';
}
.info ~ label:before
{
    z-index: 104;

    content: '\f129';
}
.weather ~ label:before
{
    z-index: 105;

    content: '\f0c2';
}
.home ~ label:before
{
    z-index: 106;

    content: '\f015';
}
.hamburger
{
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    width: 25px;
    height: 3px;
    margin-top: -1.5px;
    margin-left: -12.5px;

    transition: -webkit-transform 200ms;
    transition:         transform 200ms;

    background: #fff;
}

.hamburger-1
{
    -webkit-transform: translate3d(0, -8px, 0);
            transform: translate3d(0, -8px, 0);
}

.hamburger-2
{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.hamburger-3
{
    -webkit-transform: translate3d(0, 8px, 0);
            transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1
{
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .hamburger-2
{
    -webkit-transform: translate3d(0, 0, 0) scale(.1, 1);
            transform: translate3d(0, 0, 0) scale(.1, 1);
}

.menu-open:checked + .menu-open-button .hamburger-3
{
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
            transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu
{
    position: absolute;
    left: 5%;

    margin-left: -60px;
    padding-left: 60px;
}

.menu-item:hover
{
    color: #ff4081;
    background: #fff;
}

.menu-open-button
{
    z-index: 101;

    cursor: pointer;
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
            transform: scale(1.1, 1.1) translate3d(0, 0, 0);
}

.menu-open-button:hover
{
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
            transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button
{
    transition-timing-function: linear;
    transition-duration: 200ms;
    -webkit-transform: scale(.8, .8) translate3d(0, 0, 0);
            transform: scale(.8, .8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item
{
    transition-timing-function: cubic-bezier(.165, .84, .44, 1);
}

.menu-open:checked ~ .menu-item:nth-child(4)
{
    transition-duration: 190ms;
    -webkit-transform: translate3d(70px, 0, 0);
            transform: translate3d(70px, 0, 0);
}

.menu-open:checked ~ .menu-item:nth-child(6)
{
    transition-duration: 290ms;
    -webkit-transform: translate3d(140px, 0, 0);
            transform: translate3d(140px, 0, 0);
}

.menu-open:checked ~ .menu-item:nth-child(8)
{
    transition-duration: 390ms;
    -webkit-transform: translate3d(210px, 0, 0);
            transform: translate3d(210px, 0, 0);
}

.menu-open:checked ~ .menu-item:nth-child(10)
{
    transition-duration: 490ms;
    -webkit-transform: translate3d(280px, 0, 0);
            transform: translate3d(280px, 0, 0);
}

.menu-open:checked ~ .menu-item:nth-child(11)
{
    transition-duration: 590ms;
    -webkit-transform: translate3d(350px, 0, 0);
            transform: translate3d(350px, 0, 0);
}

.menu-open:checked ~ .menu-item:nth-child(12)
{
    transition-duration: 690ms;
    -webkit-transform: translate3d(420px, 0, 0);
            transform: translate3d(420px, 0, 0);
}
.menu-open:checked ~ .menu-item:nth-child(14)
{
    transition-duration: 790ms;
    -webkit-transform: translate3d(490px, 0, 0);
            transform: translate3d(490px, 0, 0);
}
