.ol-popup
{
    position: absolute;
    bottom: 12px;
    left: -50px;

    padding: 15px;

    border: 1px solid #b6b6b6;
    border-radius: 10px;
    background-color: #fff;
}

.ol-popup:after,
.ol-popup:before
{
    position: absolute;
    top: 100%;

    width: 0;
    height: 0;

    content: ' ';
    pointer-events: none;

    border: solid transparent;
}

.ol-popup:after
{
    left: 48px;

    margin-left: -10px;

    border-width: 10px;
    border-top-color: #fff;
}

.ol-popup:before
{
    left: 48px;

    margin-left: -11px;

    border-width: 11px;
    border-top-color: #b6b6b6;
}

.ol-popup-closer
{
    position: absolute;
    top: 0;
    right: 2px;

    text-decoration: none;
}

.ol-popup-closer:after
{
    font-family: FontAwesome;
    font-size: 18px;

    display: inline-block;

    content: '\f00d';
}
