/*.estate-card-square .mdl-card__title {
  color: inherit;
}

.estate-card-square .mdl-card__supporting-text {
  color: inherit;
}*/


/*.mdl-card__supporting-text > p{
  font-size: inherit;
  line-height: 18px;
  padding: 0;
}*/



.estate-card-square.mdl-card {
  width: 300px;
  height: 300px;
}

.estate-card-square > .mdl-card__title {
  color: #fff;
  background: url('../images/properties/placeholder.png') bottom right 15% no-repeat;
}

.estate-card-square a:hover {
  text-decoration: none;
}

.estate-card-square a {
  color: inherit;
  text-align: center;
}

.estate-card-square > .mdl-card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
