.main-container {
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 8em;
  overflow: hidden;
  /*justify-content: center;*/
}

.divider {
  position: relative;
  border-bottom: 3px solid  #FFFFFF;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.main-container .title {
  font-size: 2em;
}

.main-container .menu {
  position: relative;
  left: 0;
  margin-left: 0;
  padding-left: 0;
   -webkit-animation-delay: 1.4s;
           animation-delay: 1.4s;
}

.main-container .menu-item,
.main-container .menu-open-button {
  border-radius: 100%;
  width: 180px;
  height: 180px;
  margin-left: -90px;
  top: 90px;
  color: #FFFFFF;
  line-height: 180px;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
}

.main-container .menu-open-button:hover {
  background: #FFFFFF;
}

.main-container .menu-open-button:hover .hamburger {
  background: #FF4081;
}

.main-container .menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 190ms;
  -webkit-transform: translate3d(180px, 0, 0);
  transform: translate3d(180px, 0, 0);
}

.main-container .menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 190ms;
  -webkit-transform: translate3d(-180px, 0, 0);
  transform: translate3d(-180px, 0, 0);
}
.menu-item .flag-icon {
  line-height: 4em;
  width:  4.333em;
}