.ol-popup {
    position: absolute;
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #B6B6B6;
    bottom: 12px;
    left: -50px;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: #FFFFFF;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #B6B6B6;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    font-family: FontAwesome;
    display: inline-block;
    font-size: inherit;
    content: "\f00d";
}
