.appwrapper {
overflow: hidden;
    
}

.map,.adminMap {
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.controls {
    top: 7.000em;
    left: 0.429em;
    height: auto;
    width: 28.571em;
    padding: 0.429em;
    position: absolute;
    background: #BFBDFF;
    z-index: 10;
    box-shadow: 0.429em 0.429em 0.357em 0 rgba(50, 50, 50, 0.75);
}

.ol-custom-overviewmap,
.ol-custom-overviewmap.ol-uncollapsible {
    bottom: auto;
    left: auto;
    right: 0.5em;
    top: 7em;
}

.ol-custom-overviewmap:not(.ol-collapsed) {
    border: 0.071em solid #2B3643;
}

.ol-custom-overviewmap .ol-overviewmap-map {
    border: none;
    width: 21.429em;
}

.ol-custom-overviewmap .ol-overviewmap-box {
    border: 2px solid red;
}

.ol-custom-overviewmap:not(.ol-collapsed) button {
    bottom: auto;
    left: auto;
    right: 0.071em;
    top: 0.071em;
}
.ol-zoom {
    bottom: auto;
    left: auto;
    right: 0.5em;
    top: 0.5em;
    
}
.ol-zoom-extent {
    bottom: auto;
    left: auto;
    right: 0.5em;
    top: 4.643em;
}